
@font-face {
  font-family: "Work Sans";
  font-weight: 300;
  src: url("../fonts/WorkSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 500;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 600;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}




